.film-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.film {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 95vw;
    white-space: nowrap;
    padding: 10px;
    scrollbar-width: thin;
    scrollbar-color: gray transparent;
}

.logopart {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    margin: 10px;
}

@media (min-width: 600px) {
    .logo-img {
        width: 100px;
        height: 100px;
    }
}

.film::-webkit-scrollbar {
    height: 6px;
}

.film::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}
